asgiref==3.3.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
Django==3.2.3
django-rest-auth==0.9.5
djangorestframework==3.12.4
dnspython==2.1.0
emoji==1.2.0
gTTS==2.2.2
idna==2.10
itypes==1.2.0
Jinja2==3.0.0
lxml==4.6.3
MarkupSafe==2.0.0
netifaces==0.11.0
phonenumbers==8.12.23
Pillow==8.2.0
pkg-resources==0.0.0
playsound==1.2.2
psutil==5.8.0
PyJWT==1.7.1
PySocks==1.7.1
pyttsx3==2.90
pytz==2021.1
requests==2.25.1
requests-futures==1.0.0
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
stem==1.8.0
torrequest==0.1.0
twilio==6.58.0
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.4
urlparser==0.1.2
vext==0.7.6
vext.gi==0.7.4
